@use "../../styles.scss" as *;
.projects {
  .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .card {
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: -1px 4px 16px -2px rgba(0, 0, 0, 0.75);
    margin-bottom: 1.5rem;
    width: calc(90% / 3);
    h4 {
      font-size: 1.5rem;
      color:#faf5ef;
      margin-bottom: 0.5rem;
    }
    p {
      color: $text-color;
      margin-bottom: 1rem;
    }
    &:nth-child(even) {
      background-color: $text-secondary;
    }
    &:nth-child(odd) {
      background-color: $text-body;
    }
  }
}
